<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" media="screen" type="text/css">
    <link rel="stylesheet" href="{{ '/assets/css/print.css' | relative_url }}" media="print" type="text/css">
    

    <!-- FONTS -->
    <link href='//fonts.googleapis.com/css?family=Roboto:400,100,300,700,400italic,700italic' rel='stylesheet' type='text/css'>
    
    <!--FONTAWESOME CSS-->
    <link href="../assets_old/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"> 
    <link href="../assets_old/font-awesome-4.7.0/css/home_page_icons.css" rel="stylesheet" type="text/css"> 

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <title>ThinkML</title>

  </head>

  <body>
    <header>
      <div class="inner">
        <a href="{{ '/' | absolute_url }}">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
        </a>
        <h2>{{ site.description | default: site.github.project_tagline }} </h2>
          <a href="../blogs/bio.html" class="button"> About Me!<small>Anush Sankaran</small></a>
          &emsp; <a href="../blogs/bio.html" class="button"> About Me!<small>Anush Sankaran 2</small></a>
          &emsp; <a href="../blogs/bio.html" class="button"> About Me!<small>Anush Sankaran 3</small></a>
          <br /> <a href="../blogs/bio.html" class="button"> About Me!<small>Anush Sankaran 4</small></a>
        <br />
        <div class="section-icon col s12 m12 l2">
            <i class="fa fa-user-md fa-3x" style="color:green"></i>  &emsp; <i class="fa fa-user-md fa-3x" style="color:green"></i> &emsp; <i class="fa fa-user-md fa-3x" style="color:green"></i> 
        </div>  
        <div class="sidebar-social">
            <ul>
            <li>
            <a href="URL-HERE" title="Facebook" target="_blank" rel="nofollow"><i class="fa fa-facebook"></i><span>Facebook</span></a></li>
            
            <li><a href="URL-HERE" title="Google Plus" target="_blank" rel="nofollow"><i class="fa fa-google-plus"></i><span>Google Plus</span></a>
            </li>
                    
            <li><a href="URL-HERE" title="Twitter" target="_blank" rel="nofollow"><i class="fa fa-twitter"></i><span>Twitter</span></a>
            </li>
                    
            <li><a href="URL-HERE" title="Pinterest" target="_blank" rel="nofollow"><i class="fa fa-pinterest"></i><span>Pinterest</span></a>
            </li>
                    
            <li><a href="URL-HERE" title="Instagram" target="_blank" rel="nofollow"><i class="fa fa-instagram"></i><span>Instagram</span></a>
            </li>
            
            <li><a href="URL-HERE" title="Behance" target="_blank" rel="nofollow"><i class="fa fa-behance"></i><span>Behance</span></a> 
            </li>
            
            <li><a href="URL-HERE" title="flickr" target="_blank" rel="nofollow"><i class="fa fa-flickr"></i><span>Flickr</span></a>
            </li>
            
            <li><a href="URL-HERE" title="YouTube" target="_blank" rel="nofollow"><i class="fa fa-youtube"></i><span>YouTube</span></a>
            </li>
            
            <li><a href="URL-HERE" title="500px" target="_blank" rel="nofollow"><i class="fa fa-500px"></i><span>500px</span></a></li>
            </ul>
            </div>
      </div>

    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">
          {{ content }}
        </section>

        <aside id="sidebar">
            <h2>Latest news</h2>
            <ul>
                <li>Jan '19: Paper titled "<a href="https://arxiv.org/abs/1801.01275">DeepTriage</a>: Exploring the Effectiveness of Deep Learning for Bug Triaging" accepted in <a href="http://cods-comad.in/2019/index.html">CoDS-COMAD 2019</a>.</li>
                <br />
                <li>Jun '18: Paper titled "<a href="http://iab-rubric.org/papers/2018_BTAS_Alterations.pdf">On Matching Faces with Alterations due to Plastic Surgery and Disguise</a> accepted in <a href="https://www.isi.edu/events/btas2018/home">BTAS 2018</a></li>
                <br />
              <li>May '18: Paper titled "<a href="../resources/intuition_learning.pdf">Intuition Learning</a> accepted in <a href="http://iab-rubric.org/ijcai-davu.html">DAVU 2018</a></li>

            </ul>
            
            <br />
            <h2> Talks </h2>
            <ul>
                <li>What the fun is deep learning?</li>
                <br />
                <li>Watson made simple with Tanmay Bhakshi</li>
            </ul>
            <a href="../blogs/talks.html">Read More ></a></ol>

            <br />
            <br />
            <h2> Important Links </h2>
            <ul>
                <li>Teaching a course on <a href="https://github.com/goodboyanush/iiit-bangalore-march-april-2019"> Visual Recognition </a> at IIIT-B, Bengaluru, India </li>
                <br />
                <li><a href="http://datascience.ibm.com/"> Neural Network Modeller </a> with Watson Studio </li>
                <br />
                <li>Open Source <a href="https://github.com/IBM/gan-toolkit"> GAN Toolkit </a> </li>
            </ul>

        </aside>
      </div>
    </div>

  </body>
</html>