<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" media="screen" type="text/css">
    <link rel="stylesheet" href="{{ '/assets/css/print.css' | relative_url }}" media="print" type="text/css">

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <title>ThinkML</title>

  </head>

  <body>
    <header>
      <div class="inner">
        <a href="{{ '/' | absolute_url }}">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
        </a>
        <h2>{{ site.description | default: site.github.project_tagline }} </h2>
        
          <a href="../blogs/bio.html" class="button"> About Me!<small>Anush Sankaran</small></a>

      </div>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">
          {{ content }}
        </section>

        <aside id="sidebar">
            <h2>Latest news</h2>
            <ul>
                <li>Jan '18: Paper titled "<a href="https://abhijitmishra.github.io/papers/www18-persuasion.pdf">PersuaAIDE!</a> An Adaptive Persuasive Text Generation System for Fashion Domain" accepted in WWW 2018.</li>
                <br />
              <li>Nov '17: Paper titled "<a href="https://arxiv.org/abs/1711.03543">DLPaper2Code</a>: Auto-generation of Code from Deep Learning Research Papers" accepted in <a href="https://aaai.org/Conferences/AAAI-18/">AAAI 2018</a></li>
              <br />
              <li>Aug '17: Travelling to SIGKDD-2017, Canada. Co-organizing a workshop on <a href="https://ml4creativity.mybluemix.net/">Machine Learning for Creativity</a></li>
            </ul>
            
            <br />
            <h2> Talks </h2>
            <ul>
                <li>What the fun is deep learning?</li>
                <br />
                <li>Watson made simple with Tanmay Bhakshi</li>
            </ul>
            <a href="../blogs/talks.html">Read More ></a></ol>

            <br />
            <br />
            <h2> Important Links </h2>
            <ul>
                <li><a href="https://dlide.mybluemix.net/"> IBM Deep Learning IDE (DL-IDE) </a> </li>
                <br />
                <li><a href="https://goodboyanush.github.io/blogs/ml4creativity.html"> KDD workshop on ML4Creativity </a> </li>
            </ul>

        </aside>
      </div>
    </div>

  </body>
</html>